/*
    Arquivo: app.css
    Data: 06/05/2017
    Descrição: Arquivo responsável por personalizar as mensagens de validação do formulário de login.
    Author: Glaucia Lemos
*/

body {
	background: #EEE;
	margin: 0 auto;
	text-align: center;
	font-family: 'Merriweather', 'Helvetica', 'Arial';
	font-size: 16px;
	padding-top: 70px;
	padding-bottom: 30px;
}

a:focus {
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', 'Merriweather', 'Helvetica', 'Arial';
}

h2 {
	font-weight: 700;
	font-size: 18px;
}

h3 {
	color: rgba(0,0,0,0.5);
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.container {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	text-align: left;
}

.jumbotron {
	padding-top: 32px;
	padding-bottom: 32px;
	text-align: center;
}

.jumbotron h1 {
    font-weight: 700;
}

.jumbotron h1 span {
    color: rgba(0,0,0,0.5);
    font-size: 40px;
}

/**
 * Dropdown
 */

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

/**
 * Navigation
 */

.navbar .container {
	font-family: 'Lato', 'Merriweather', 'Helvetica', 'Arial';
	line-height: 1;
	text-align: center;
}

.navbar-nav {
	float: right;
}

.navbar > .container .navbar-brand {
    color: #FFF;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.navbar-inverse .navbar-nav > li > a {
	color: #DDD;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #080808;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #222;
}

.navbar > .container .navbar-brand span {
    color: rgba(255,255,255,0.2);
    font-size: 13px;
}

.navbar > .container .navbar-brand:hover {
    color: rgba(255,255,255,0.8);
}


/** 
 * Footer
 */

footer {
	border-top: 1px solid #DDD;
	color: #858585;
	font-size: 13px;
	margin: 48px 0 0 0;
	padding: 40px 0 0 0;
}

footer a,
footer a:link,
footer a:focus,
footer a:visited {
	color: #858585;
}

footer a:hover {
	color: #333;
}

footer span.glyphicon {
	color: #e00000;
}

.validacao-msg {
    font-size: 12px;
}
