/*
    Arquivo: app.css
    Data: 06/05/2017
    Descrição: Arquivo responsável por personalizar as mensagens de validação do formulário de login.
    Author: Glaucia Lemos
*/

.validacao-msg {
    font-size: 12px;
}
